@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Roboto+Slab&display=swap');

#content {
  max-width: 1600px;
  margin: 0 auto;
}

body {
  background-color: #afafdc;
  font-family: "Roboto Slab", Helvetica, sans-serif;
  font-size: 22px;
  padding: 0;
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-around;
}

nav a {
  text-align: center;
  color: #396E94;
  text-decoration: none;
  padding: 35px;
}

.paragraph {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}

.horizontal {
  width: 100%;
  display: flex;
  margin-top: -10px;
  margin-right: -10px;
}

.vertical {
  width: 100%;
  flex: 50%;
  padding: 10px;
  margin-left: -10px;
}

h2 {
  margin: 0;
}

.message h2 {
  margin-top: 50px;
  font-family: "Berkshire Swash", Arial, sans-serif;
}

.message {
  color: white;
  text-align: justify;
  line-height: 1.7em;
  font-size: 22px;
  padding: 1em;
}

.text {
  color: white;
  text-align: justify;
  line-height: 1.7em;
  font-size: 22px;
  padding: 1em;
}

.text h2 {
  margin-top: 50px;
  font-family: "Berkshire Swash", Arial, sans-serif;
}

header {
  background-color: white;
  display: grid;
  grid-template-columns: 150px auto;
  padding: 3px;
  align-items: center;
}

nav a:hover {
  background-color: #8a84e2;
  color: black;
}

.logo {
  width: 100px;
  margin-bottom: -18px;
  margin-top: -14px;
  margin-left: -4px;
  border-radius: 5%;
  height: auto;
}

#logo_link {
  justify-self: auto;
  align-self: auto;
}

.image {
  width: 100%;
  height: auto;
}

.responsive {
  width: 100%;
  height: 250px;
  max-width: 100%;
}

.main-page {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 5px;

}

.left {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 481px;
  height: 1280px;
}

.information h2 {
  font-family: "Berkshire Swash", Arial, sans-serif;
  align-items: center;
  text-align: center;
}

.information {
  margin: 1px;
  text-align: justify;
  font-size: 18px;
  line-height: 1.5em;
  color: white;
  margin-left: -150px;
  padding: 1em;
}

.values h3 {
  font-family: "Berkshire Swash", Arial, sans-serif;
  text-align: center;
  align-items: center;
}

.values {
  margin: 1px;
  text-align: justify;
  color: white;
  font-size: 18px;
  line-height: 1.5em;
  padding: 1em;
  grid-row: 2/4;
  grid-column: 2/3;
  margin-left: -150px;
  margin-top: -870px;

}

.best-work h4 {
  font-family: "Berkshire Swash", Arial, sans-serif;
  text-align: center;
  align-items: center;
}

.best-work {
  margin: 1px;
  text-align: justify;
  color: white;
  font-size: 18px;
  line-height: 1.5em;
  padding: 1em;
  grid-row: 3/6;
  grid-column: 2/6;
  margin-left: -150px;
  margin-top: -1530px;
}

* {
  box-sizing: border-box;
}

#feedback {
  border-radius: 5px;
  padding: 10px;
  display: none;
  color: white;
}

.center {
  text-align: center;
  color: white;
  font-size: 20px;
  line-height: 1.5em;
}

.row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 5px;
}

.column {
  margin: 0;
  width: 100px;
  height: 400px;
}

.column1 {
  padding: 20px;
  margin: 0;
  width: 200px;
  height: 500px;
  font-size: 20px;
  line-height: 2.0em;
}

.myparagraph {
  color: white;
}

div label {
  color: white;
}

input[type=text],
select,
textarea,
input[type=email] {
  width: 200%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  border-radius: 5px;
}

input[type=submit] {
  background-color: #b7d3f2;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #8a84e2;
  color: black;
}

.column {
  border: none#afafdc;
  transition: transform .5s;
  box-shadow: 5px 5px 10px #afafdc;
}

.column:hover {
  opacity: .5;
  transform: scale(1.1);
}

.moveDown {
  margin-bottom: 1em;
}

footer {
  color: #396E94;
  background-color: white;
  padding: 25px 50px;
  margin-top: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer a {
  color: #396E94;
  text-decoration: none;
}

footer a:hover {
  color: black;
}

footer p {
  font-size: 1.0em;
}

footer p a:hover {
  text-decoration: underline;
}

footer .social-handle img {
  padding-top: 15px;
}

.vertical {
  border: none#afafdc;
  transition: transform .5s;
  box-shadow: 5px 5px 10px #afafdc;
}

.vertical:hover {
  opacity: .5;
  transform: scale(1.1);
}

.social-handle {
  border: none white;
  transition: transform .4s;
  box-shadow: 5px 5px 5px white;
}

.social-handle:hover {
  opacity: .5;
  transform: scale(1.1);
}

.image {
  border: none#afafdc;
  transition: transform .5s;
  box-shadow: 5px 5px 10px #afafdc;
}

.image:hover {
  opacity: .5;
  transform: scale(1.1);
}

.left {
  border: none#afafdc;
  transition: transform .5s;
  box-shadow: 5px 5px 10px #afafdc;
}

.left:hover {
  opacity: .5;
  transform: scale(1.1);
}